$main-bgcolor: white;
$navbar-bgcolor:#8AD5E6;
$navbar-txbgcolor: white;
$navtext-color: #1D4992;
$nav-hover: #F5EE31;
$nav-active: #F7592A;
$header-bgcolor: #00AEEF;


//Cloud-Fitness Colours
//Blues
// #1D4992
// #00AEEF
// #8AD5E6

//Oranges to Yellow
// #F7592A
// #F7941D
// #F5EE31

$main-font-family: 'Araoey', serif;
$secondary-font-family:'Arapey', serif;
$secondary-font-style: italic;
$main-color: #1D4992;
$secondary-color: #F7592A;
$error-color: #F7941D;