$main-bgcolor: #f7f6ee;
$navbar-bgcolor: #f7f6ee;
$navtext-color: #368F96;
$nav-hover: #85C4C9;
$nav-active: #368F96;
$header-bgcolor: #F2F2F2;


$hexagon-color: #368F96;



$main-font-family: 'Lato', sans-serif;
$main-color: #2C3E50;
$main-font-style: italic;